@model FCatalog.Models.Film



<td width="100" height="150"><img src="@Url.Content("~/Pictures/" + @Path.GetFileName(Model.Image))" width="100" height="150" aling="center" /></td>
<td>
    <h4><b>@Model.Name</b></h4><br>Продессер: @Model.Producer<br>Год: @Model.Year<br>Жанр: @Model.Genre<br>В ролях: @Model.Roles<br />


  
    <a href="/Home/EditReview/@Model.Id">Оставить отзыв</a>

    @Html.ActionLink("Посмотреть отзывы", "ViewReview", new { id = Model.Id })
    @Html.ActionLink("Добавить в избранное", "Favourite", new { id = Model.Id })

