@using FCatalog.Models
@model FCatalog.Models.ViewsFilm






<table>
    <tr>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default" style=" background-color: rgba(51, 0, 34, 0.6);">
                <div class="panel-body">
                    <form method="get">
                        <div class="form-inline">
                            <label class="control-label" style="  color:white;">Жанр:&nbsp </label>
        
                            @Html.DropDownList("genre", Model.Films as SelectList,
                                    htmlAttributes: new { @class = "form-control" })
                            <input type="submit" value="Фильтр" class="btn btn-default" /><br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </tr>
</table>



@foreach (var item in Model.Films)
{

    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 rounded">
        <div class="card text-center " style="width: 250px; background-color: rgba(0, 0, 0, 0.6); ">

            <h5 class="card-header" style="height: 60px;  color:white; background-color: rgba(51, 0, 34, 0.3);"> @item.Name </h5>

            <!-- Изображение -->
            <img src="@Url.Content("~/Pictures/" + @Path.GetFileName(item.Image))" width="200" height="300" aling="center" class="img-rounded" />
            <!-- Текстовый контент -->
            <div class="card-body">
                <p></p>
            </div>
            <!-- Список List groups -->


            <p style="color:white;">Продюссер: @Html.DisplayFor(modelItem => item.Producer)<br>
           Год: @Html.DisplayFor(modelItem => item.Year)<br>
           Жанр: @Html.DisplayFor(modelItem => item.Genre)</p>


                <!-- Текстовый контент -->
                <div class="card-body">
            <p></p>
            <a href="/Home/Details/@item.Id" class="btn btn-danger" style=" background-color: rgba(207, 34, 100, 0.5); ">Подробнее</a>
            <p></p>
        </div>
        </div>
    </div>

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
